---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import TeamBento from "../components/TeamBento.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/home.css";
import TeamsView from "../components/TeamsView.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="home-heading">
        <h1 class="NBA">NBA</h1>
        <h1 class="insights">Insights</h1>
      </div>
      <p class="home-paragraph">
        Explora los equipos y sumérgete en el mundo de la NBA
      </p>
			<TeamsView />
    </main>
    <Footer />
  </body>
</html>
