---
const { bgImageUrl, teamUrl } = Astro.props;
---

<a href={teamUrl} class="team-card">
  <div class="team-card-bg" style={`background-image: url(${bgImageUrl.src});`}></div>
</a>

<style>
  .team-card {
    width: 375px;
    height: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra más profunda */
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  }

  .team-card:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4); /* Aumenta la sombra al hacer hover */
  }

  .team-card-bg {
    position: absolute;
    width: 125%; 
    height: 125%;
    background-size: cover;
    background-position: center;
    opacity: 0.85;
    filter: grayscale(95%) contrast(1.25);
    transition: transform 0.8s ease-out, filter 0.9s ease-out, opacity 0.9s ease-out;
  }

  .team-card:hover .team-card-bg {
    transform: scale(0.85);
    filter:contrast(1.16); 
    opacity: 0.98;
  }

  .team-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

</style>
